certifi==2025.10.5
charset-normalizer==3.4.3
click==8.2.1
frappe-bench==5.25.9
gitdb==4.0.12
GitPython==3.1.45
honcho==2.0.0
idna==3.10
Jinja2==3.1.6
MarkupSafe==2.1.5
python-crontab==2.6.0
python-dateutil==2.8.2
requests==2.32.5
semantic-version==2.10.0
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
urllib3==2.5.0
uv==0.7.22
